<h1><center><%= @user.name.capitalize %>'s Homepage</h1>
<div class='user_options'>

	

<% if current_user %>
    <p>&nbsp; <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-default' %>
    &nbsp; <%= link_to "Delete Profile", user_path(@user), method: :delete, data: { confirm: "Are you sure?"}, :class => 'btn btn-default' %></p>
<% end %>
<br><br>

<h3>Collections</h3>


<h3>Add to Collection</h3>
