<div style="width: 600px;margin:auto">
    <img class="irc_mi" src="https://cf-assets-tup.thredup.com/cms/cleanout/landing-pages/sell-banner-image-mw.jpg"
    
    </div>

    <body style="background-color: #FFFCCE;">

    <h1 align="center">Vintage Collector</h1>

 
    


